$primary: #24355c;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/helpers/ratio';
@import '~bootstrap/scss/utilities/api';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Small enough so the row height doesn't change when it appears
.btn-very-small {
    font-size: 0.9em;
    padding: 0.02rem 0.3rem
}

.btn-primary {
    //color: white;
}

.team-logo {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -5px;
    height: 20px;

    .text-muted & {
        filter: grayscale(100%);
    }
}

span.team-logo {
    background: #c2c2c2;
    height: 1.5em;
}

.stream-offline {
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    padding: 0 3vw;
    font-weight: bold;
    --bs-progress-height: 16px;
}

.panel-matches {
    padding-bottom: 40px;

    .presentation-mode & {
        padding-bottom: 100px; // So we can scroll to the bottom without the last session in the shadow
    }
}

@include media-breakpoint-up(lg) {
    .panel-matches {
        overflow-y: auto;
        max-height: calc(100vh - 100px);

        .presentation-mode & {
            max-height: calc(100vh - 20px);
        }
    }
}

.text-placeholder {
    background: #dedede;
    display: inline-block;
    border-radius: 4px;
    height: 1em;
    width: calc(var(--length) * 8px);
    margin: 0 2px -4px 2px; // Better align with text baseline
}

.program-soon {
    text-align: center;
    color: #666;
    text-shadow: 0 0 20px white;
    height: 0;
    position: relative;

    > div {
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        top: 10vw;
        font-size: 4vh;
        padding: 0 3vw;
        font-weight: bold;
    }
}

.clock {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    color: #666;
    margin-top: 4vh;
}

.clock-icon {
    display: inline-block;
    font-size: 3.5rem;
    vertical-align: middle;
    margin-top: -0.3em;
    color: #aaa;
}

.clock-hour,
.clock-minute {
    display: inline-block;
    min-width: 1.5em;
}

.clock-hour {
    text-align: right;
}

.clock-minute {
    text-align: left;
}

.presentation-info {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 4vh;
    line-height: 1.6em;

    p:first-child {
        color: #666;
    }

    p:last-child {
        font-size: 4rem;
        font-weight: bold;
    }
}

.presentation-mode {
    &::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 100;
        inset: auto 0 0;
        box-shadow: 0 0 50px 50px white;
    }

    .panel-matches {
        font-size: 18px;
    }

    // iframe block
    .ratio {
        margin-top: 2vh;
    }
}

.long-team-name {
    font-size: 0.9em;
}

.session {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    position: relative;
    padding: 0.8em 1em 0;
    margin-top: 1.4em;
    break-inside: avoid;
}

.session-name {
    border-radius: 2em; // Anything >height seems to create symmetrical corners
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--session-color);
    color: white;
    padding: 0.2em 0.8em;
    font-size: 0.8em;
    font-weight: bold;
}

.task {
    border-bottom: 1px solid #dee2e6;
    padding: 0.5em 0;

    &:last-child {
        border: none;
    }
}

.task-completed {
    $stripe-color: rgba(200, 200, 200, 0.2);

    background: linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent);
    background-size: 16px 16px;
    opacity: 0.6;
}

.task-team-name {
    font-weight: bold;

    .no-team & {
        font-weight: normal;
        font-style: italic;
    }
}

.task-team-number {
    color: #666;
}

.task-time {
    margin-bottom: 0.3em;
}

.task-location {
    margin-top: 0.3em;
}

.program-only {
    padding-bottom: 100vh;
}

.vertical-presentation {
    font-size: 12px;

    .clock-icon {
        display: none;
    }

    .clock {
        font-size: 320px;
        margin: 0;
        line-height: 254px;
        color: black;
    }

    .team-logo {
        height: 14px;
        margin-bottom: -3px;
    }
}

.vertical-team-block {
    height: 326px;
}

.vertical-general-block {
    height: 1300px;
}

.vertical-team-block,
.vertical-general-block {
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        inset: auto 0 0;
        box-shadow: 0 0 50px 50px white;
    }
}

.vertical-header {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
}

.vertical-team-number {
    font-weight: normal;
}

.vertical-promo {
    text-align: center;
    font-size: 20px;
    padding: 6px 0 8px;
    color: #888;
}

.vertical-promo-url {
    color: #478a23;
    margin: 0 10px;
    font-weight: bold;
}

.robotgame-overlay {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 26px;

    .team-logo {
        height: 28px;
        margin-bottom: -6px;
    }
}

.robotgame-overlay-team {
    background: rgba(#ED1C24, 0.8);
    padding: 10px 20px;
    color: white;
}

.robotgame-overlay-team--left {
    border-radius: 0 0 10px 0;

    .team-logo {
        margin-right: 6px;
    }
}

.robotgame-overlay-team--right {
    border-radius: 0 0 0 10px;

    .team-logo {
        margin-left: 6px;
    }
}

.robotgame-overlay-team--right {
    text-align: right;
}
